<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(typeof styleSheet !== 'undefined') { %>
        <script src="<%= styleSheet %>" defer></script>
    <% } else { %>
        <script src="/scripts/app.js" defer></script>
    <% } %>
    <link rel="stylesheet" href="/styles/main.css">
    <title>Elden Ring Wiki</title>
</head>
<body>
    <header>
        <div class="header"><h1>Elden Ring Wiki</h1></div>
        <nav>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/character_information">Character Information</a></li>
                <li><a href="/equipment_magic">Equipment & Magic</a></li>
            </ul>
        </nav>
    </header>
    
