<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" herf="/styles/main.css">
    <title>Elden Ring Wiki</title>
</head>
<body>
    <h1>Elden Ring Wiki</h1>


    <a herf="/General Information">General Information</a>
    <a herf="/Character Information">Character Information</a>
    <a herf="/Equipment & Magic">Equipment & Magic</a>
    <a herf="/World Information">World Information</a>
    <script src="home.ejs"></script>
</body>
</html>