body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url(https://i.redd.it/k6ef81ik42571.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
}

    h1 {
        font-style: Garamond;
        color: rgb(223, 230, 16);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        font-size: 100px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 400px;
        margin-left: 400px;
        
    }

    h2 {
        color: rgb(223, 230, 16);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: left;
        font-style: Garamond;
        word-wrap: break-word;
        font-size: 1.5em;
        margin-top: 1000px;
        margin-bottom: 100px;
        margin-right: 100px;
        margin-left: 1000px;
        text-indent: 100px;
        line-height: 1.9;
        margin: auto;
        display: block;
       
        
        
    }

   
   
   
   
   
   
   
   
   
   
   
    img {
        border-radius: 8px;
        width: 17%;
        
      

      }

      img:hover {
        transform: scaleX(-1);
        
      }
     
    label {
        color: rgb(223, 230, 16);
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 1.5em;
        font-style: Garamond;
        font-weight: bold;
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 1000px;
        
    }

    
    