<%- include('../partials/header.ejs') %>
<h1>Add a new stat</h1>

<form action="/character_information/Stats" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="softCap">Soft Cap:</label>
    <input type="text" name="softCap" id="softCap">
    <br>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description">
    <br>
    <label for="img">Image URL:</label>
    <input type="text" name="img" id="img">
    <br>
    <input type="submit" value="Add new stat">
</form>


<%- include('../partials/footer.ejs') %>