<%- include('../partials/header.ejs') %>
<h1>Classes</h1>
<% for(let i = 0; i < classesInfo.length; i++) { %>

<h2>Name: <%= classesInfo[i].name %></h2>

<% } %>
<%- include('../partials/footer.ejs') %>